.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; 
  margin: 0 auto; 
  padding: 40px 0; 
  margin-top: -50px;
}
  
  .signup-form {
    width: 500px; 
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(128, 0, 0, 0.5); 
    
  }
  
  .signup-button {
    width: 100% !important;
    height: 40px;
    background-color: #f8ecd2;
    color: #753918;
    font-weight: bold;
    font-size: 20px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  .signup-button {
    width: 100%;
    height: 40px;
    background-color: #753918 !important; 
    color: #ffffff !important;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  
  }
  
  .signup-button:hover {
    background-color: #eedc82 !important;
    color: #753918 !important;
  }
  
 

  
  h1 {
    color:#753918;
    font-weight: bold;
    font-size: 20px;
  }
  .signup-form .ant-input,
  .signup-form .ant-input-Role,
.signup-form .ant-input-password {
  transition: border-color 0.3s ease;
}

.signup-form .ant-input:hover,
.signup-form .ant-input-Role,
.signup-form .ant-input-password:hover {
  border-color: #753918 !important;
}