


.admin-dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 90px;
  color: #800000; 
  font-size: 30px;
}

.ant-table {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
}

.ant-table-thead > tr > th {
  background-color: #c0a173 !important; 
  color: #800000 !important; 
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  color: #333; 
}
