
  
  .search-bar :hover{
    border-color: #800000 !important;
  }
  .search-bar{
    position: absolute;
    right: -50px;
    float: right;
    margin-bottom: 16px;
    
   
  }
  .search-bar:focus {
    border-color: #800000 !important;
    outline: none; 
  }